<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378184048977-8v7amsec56l4epoub4d5l2ltpd9hbtsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378184048977-8v7amsec56l4epoub4d5l2ltpd9hbtsv</string>
	<key>API_KEY</key>
	<string>AIzaSyDcMJdpPuSWG-EbKLKIqqwgRi9X8zLGlAo</string>
	<key>GCM_SENDER_ID</key>
	<string>378184048977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newShishir</string>
	<key>PROJECT_ID</key>
	<string>new-shishir</string>
	<key>STORAGE_BUCKET</key>
	<string>new-shishir.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378184048977:ios:2323e77ed7117cf2ae3370</string>
</dict>
</plist>